body{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #38778D;
}


.container{
  width: 100vw;
  height: 100vh;

  font-family: 'Quicksand' sans-serif;
  font-weight: bold;
  font-size: 20px;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 400px 400px 500px;

}
.buttons{
  width: 300px;
  position: relative;
  top: 150px;
  left: 200px;
}
.aboutbox h3{
  color: black;
}
.aboutbox{
  background: rgba(219, 212, 211, 0.5);
  margin: 100px;
  height: 500px;
}
.aboutuscall{
  position: absolute;
  bottom: 150px;
  left:90px;
  width: 300px;
  margin: 25px;
  background-color: #e83151;
}

.container div{
  padding: 10px;
  border: 1px solid #000000;
}
.header{
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: #38778D;
  z-index: 2;
  display: flex;
}
.header a{
  padding: 25px;
  text-decoration: none;
}
.header a:hover{
  background-color: #dbd4d3;
}
.header img{
  height: 200px;
}

.header a.icon{
  display: none;
  float: right;
}

.hamburger{
  display: none;
  width: 200px;
  height: 300px;
  background-color: #38778D;
  position: absolute;
  top:90px;
  right:00px;
}

.hamburger ul{
  list-style: none;
}
.hamburger li{
  text-align: left;
  margin:0px 0px 20px 20px;
}

.landimage{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end:4;
  background-image: url(images/pexels-fauxels-3184183.jpg);
  background-size: cover;
  z-index: 1;
  
}
.landimage .promobox{
  background-color: #dbd4d3;
  background: rgba(219, 212, 211, 0.5);
  color: black;
  height: 400px;
  width: 800px;
  float:right;
  margin: 100px;

}
.promobox h1{

  text-align: center;
}
.promobox h2{
  text-align: center;
  text-decoration: underline;
}
.promobox h3{
  text-align: center;
}
.picBoxs{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-around;
}
.box{
  height:400px;
  width: 400px;
  background-size: cover;
  color:black;
  display: block;
  text-align: center;
}

.register{
  position: relative;
  width: 100px;
  height: 25px;
  display: inline-block;
  background-color: #e83151;;
}
.register:hover{
  background-color: #dbd4d3;
}

.register a{
  text-align: center;
}
.aboutus{
  float:right;
  position: relative;
  width:100px;
  height: 25px;
  background-color: #e83151;
}
.aboutus:hover{
  background-color: #dbd4d3;
}

.aboutus a{
  text-align: center;
}
.textBox{
  position: relative;
  height: 200px;
  width: 500px;
  top: 87px;
  right: 21px;
  width: 100%;
  margin: 10px;
  background-color: #dbd4d3;
  background: rgba(219, 212, 211, 0.5);
}
.textBox h1{
  text-decoration: underline;
}
.eventsbox{
  padding: 0px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}
.eventlisting{
  height: 500px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-size: cover;
}
.eventtext{
  position: absolute;
  right:0px;
  width: 50%;
  height:475px;
  margin: 0px;
  background: rgba(219, 212, 211, 0.5);
}
.eventtext a{
  font-size: 25px;
}
.eventbutton{
  position: absolute;
  bottom:0px;
  text-align: center;
  width: 300px;
  margin: auto;
}
@media (max-width: 900px){
  .picBoxs{
    display: block;
    
  }
  .box{
    margin: auto;
  }
  .landimage .promobox{
    margin: auto;
    margin-top: 100px;
    float: none;
    width: 300px
  }
  .buttons{
    margin: auto;
    position: relative;
    top: 20px;
    left: -15px;
  }
  .header a{
    display:none;
  }
  .header a.icon{
    display: block;
    position: absolute;
    right: 00px;
  }
  .header li a{
    display: block;
    margin: 20px 0px 0px 0px;
    padding: 0%;
  }
  .eventtext a{
    font-size: 17px;
  }
}
